<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<%# <%= link_to "Edit", edit_music_comment_path(@comment), :class => "show-cont-1" %>
<%= link_to "Delete", @comment, method: :delete, :class => "show-cont-1"%>
<%= link_to "Home", musics_path, :class => "show-cont-1" %>