<div>
<div class="form-container">
<%= form_with model: music do |form| %>
  <div class="form-album">
    <%= form.label :composer, :class => "form-composer" %><br>
    <%= form.text_field :composer, :class => "text-composer" %>
    <% music.errors.full_messages_for(:composer).each do |message| %>
        <div class="errors"> <%= message %> </div>
    <% end%>
  </div>

  <div>
    <%= form.label :song, :class => "form-song" %><br>
    <%= form.text_field :song, :class => "text-song" %>
    <% music.errors.full_messages_for(:song).each do |message| %>
        <div class="errors"> <%= message %> </div> 
    <% end%>
  </div>

  <div class="form-controllers">
    <p class="form-submit"> <%= form.submit %> </p>
    <p> <%= link_to "Home", musics_path, :class => "form-home" %> </p>
  </div>
<% end %>
</div>
</div>

